#title1{
    background-color: blue;
    text-align: center;
}

#lateral{
    background-color: rgb(74, 74, 255);
}

#title2{
    background-color: aqua;
}

#cuadro1{
    background-color: gray;
    text-align: center;
}

#cuadro2{
    background-color: gray;
    text-align: center;
}

#mini1{
    background-color: darkcyan;
    text-align: center;
}

#mini2{
    background-color: darkcyan;
    text-align: center;
}

#mini3{
    background-color: darkcyan;
    text-align: center;
}

#mini4{
    background-color: darkcyan;
    text-align: center;
}

#mini5{
    background-color: darkcyan;
    text-align: center;
}

#mini6{
    background-color: darkcyan;
    text-align: center;
}

#mini7{
    background-color: darkcyan;
    text-align: center;
}

#mini8{
    background-color: darkcyan;
    text-align: center;
}

#mini9{
    background-color: darkcyan;
    text-align: center;
}

#mini10{
    background-color: darkcyan;
    text-align: center;
}

#footer{
    background-color: blueviolet;
    text-align: center;
}